# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Distribución
*.egg-info/
dist/
build/
.eggs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# =========================
# Entornos virtuales
# =========================
venv/
.venv/
env/
ENV/
Lib/
Scripts/
Include/

# =========================
# Logs y outputs (tu proyecto)
# =========================
logs/
output/
*.log

# =========================
# Archivos locales de configuración
# =========================
config.local.py
.env
.env.*

# =========================
# Testing / caché
# =========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# =========================
# VSCode / IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Archivos temporales
# =========================
*.tmp
*.bak

# =========================
# Archivos generados del CLI
# =========================
*.json
*.csv
*.xlsx
*.pdf
*.png
*.jpg